* {vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
} 
* {
    box-sizing: border-box;
  }

body {
    max-width: 90vw;
    min-height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#e1ddde;
    font-family:'Nunito';
    color: black;
    font-size: 15px;
    margin: 0 30px;
   /* margin-bottom: 0;*/
}
.div-button {
    justify-self: flex-end;
}

.topnav {
    margin-top: 20px;
    height: 25vh;
    width: 90vw;
    
}
.topnav-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.a {
    float: left;
    
}
.b {
    float: right;
   
}
ul li {
    list-style-type: none;
}

.top-navitem  {
    
    padding: 14px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: black; 
 }
 .top-navitem:hover {
    font-weight: 700;
    color:  #bd7482;
    cursor: pointer;
   
 }

.form-box {
   margin: 0 auto;
   color: white;
    background-color:  #bd7482;
	padding: 25px;
	border-radius: 5px;
	box-shadow: 0 0 10px #732434;
    width: 500px;
	height: 650px; 
    display: flex;
    flex-direction: column;
}
.header-text {
    justify-content: center;
    align-items: center;
    font-size: 24px;
	font-weight: 600;
	text-align: center;		
}
.form-box input {
	margin: 10px 0px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
}

.hdr-btn {
    display: flex;
    justify-content:space-evenly ;
    display: inline;   
}
a:link {
    text-decoration: none;
    
}
a {
    color: black;
}
#terms-link {
    color: white;
    text-decoration: underline;
    align-self: center;
}
.button {
   
    text-decoration: none;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.button:hover  {
    background-color: bisque;
    color: black;
    
}

.input-box p {
    margin: 10px;
    
}
#submit {
    background-color: grey;
    margin-left: 150px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;

}
#submit:hover {
    background-color: bisque;
    color: black;
}

ul li {
    list-style-type: none;
}

footer {   
    font-size: 16px;
    margin: auto;
}
.flex-footer-container { 
    margin: 100px 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content:space-between;  
 
}
.footer-container {
    flex-direction: column;
    margin: 20px;
    justify-content:space-evenly; 
}

.followUs {
    display: flex;
    flex-direction: column;
    align-items:  center;
  
}
.followUs ul {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.footer-container .navitem {
    flex-direction: column;
    
}
h3 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.navitem {
    align-self: center;
    font-size: 13px;
}
.navitem:hover{
    text-decoration: underline;
    color:#cd486b;
}
footer .navitem:hover {
    color:#cd486b;
}

.fa {
    font-size: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer;
    background: #ffc0c0;
    padding:20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:  center;
}
.fa-facebook {
   color:#4267B2 ;
}
.fa-facebook:hover {
    color:#4267B2 ;
    
}
.fa-twitter {
  color: #00acee;
}
.fa-twitter:hover {
    color: #00acee;
    
  }
.fa-instagram {
    color: #cd486b;
}
.fa-instagram:hover {
    color: #cd486b;
   
}
.fa-youtube {
    color: #FF0000;
}
.fa-youtube:hover {
    color: #FF0000;
   
}
.fa:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    .flex-footer-container{
      float: none;
      display: block;
      width: 100%;
    }
  }
