* {vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
} 
* {
    box-sizing: border-box;
    color: white;
  }
body html {
    height: 100%;
    width: 1000px;
    -webkit-font-smoothing:antialiased;
}
body {
    max-width: 90vw;
    min-height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(91, 87, 90);
    font-family:'Nunito';
    color: white;
    font-size: 15px;
    margin: 0 30px;
   /* margin-bottom: 0;*/
}

header {
   /* width: 100%;*/
   
    padding: 20px;
    display: flex; 
    justify-content:space-between;
    color: white;
    font-size: 20px;     
}
.div-button {
    justify-self: flex-end;
}

.topnav {
    display: flex;
    flex-direction: row;
}

.top-navitem  {
    color: white;
    padding: 14px 20px;
    text-align: center;
    
    
 }
 .top-navitem:hover {
    font-weight: 700;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
   
 }
 .div-button {
    justify-content: flex-end;
 }
 #login {
    border: 2px;
    border-radius: 5px;
   
 }
 #login:hover {
    background-color: bisque;
    color: black;
 }
 
.form-box {
    margin-top: 250px;
    margin-bottom: 350px;
    background-color:  #bd7482;
	padding: 25px;
	border-radius: 5px;
	box-shadow: 0 0 10px black;
    width: 500px;
	height: 650px; 
	/*top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
    opacity: 0.7;*/
}
.header-text {
    font-size: 24px;
	font-weight: 600;
	text-align: center;		
}
.form-box input {
	margin: 10px 0px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
}

.hdr-btn {
    display: flex;
    justify-content:space-evenly ;
    display: inline;   
}
a:link {
    text-decoration: none;
}

#terms-link {
    color: white;
    text-decoration: underline;
    align-self: center;
}
.button {
   
    text-decoration: none;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.button:hover  {
    background-color:grey;
    color: black;
    
}

.input-box p {
    margin: 10px;
    
}
#submit {
    background-color: grey;
    margin-left: 150px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;

}
#submit:hover {
    background-color: bisque;
    color: black;
}
.div a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}

footer {   
    font-size: 12px;
    margin-bottom: 0;
   

}
.flex-footer-container { 
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content:space-between;  
}
.footer-container {
    flex-direction: column;
    margin: 20px;
}
.footer-container .navitem {
    flex-direction: column;
    
}
h3 {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.navitem {
    color: white;
    align-self: center;
    font-size: 13px;
}
.navitem:hover{
    text-decoration: underline;
    color:#cd486b;
}
.subscribe-btn {
    background-color: #bd7482;
    color: black;
}
.subscribe-btn:hover {
    background-color: #ffc0c0;
    color: black;
}
.fa {
    color: white;
    font-size: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer;
    background: #ffc0c0;
    padding:20px;
    border-radius: 50%;
}
.fa-facebook {
   color:#4267B2 ;
}
.fa-facebook:hover {
    color:#4267B2 ;
    
}
.fa-twitter {
  color: #00acee;
}
.fa-twitter:hover {
    color: #00acee;
    
  }
.fa-instagram {
    color: #cd486b;
}
.fa-instagram:hover {
    color: #cd486b;
   
}
.fa-youtube {
    color: #FF0000;
}
.fa-youtube:hover {
    color: #FF0000;
   
}
.fa:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 30px;
}

/*@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }